{
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "printWidth": 164,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "useTabs": true
}
